* /*selector css*/ {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /*solo usa el width para el ancho*/
}

body {
  font-family: "Syne", sans-serif;
}
a {
  text-decoration: none; /*desaparece el ___ del A*/
}
ul li {
  list-style: none; /*desaparece los . del li*/
}
:root /*seudoclase del todo html raiz del documento*/ {
  --primary: #ffffff; /*color principal*/
  --secondary: #0c1519; /*color secundario*/
}
body {
  background-image: url(/images/bg.png); /*fondo imagen*/
  background-size: cover;
  background-repeat: no-repeat; /*repite el fondo img*/
  background-color: var(--secondary);
  color: var(--primary);
  min-height: 100uh;
}
a {
  color: var(--primary);
}
img {
  max-width: 100%;
}
header,
footer {
  padding: 3.5rem;
}
header {
  display: flex;
  align-items: center;
}
header .logo h1,
nav ul li {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%; /*altura*/
  letter-spacing: -0.02em; /*espacio entre cada caracterer*/
}
header nav ul li {
  font-size: 0.875rem;
  opacity: 0.56;
}
header nav ul li:nth-child(1) {
  opacity: 1;
}
main .title {
  font-family: "Ketsiyo", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.02cm;
}
footer {
  display: flex; /*1flexbox 2define los ejes principal(horizontal) y secundario(vertical)*/
  justify-content: center; /*lo movemos en el eje principal*/
  font-family: "Ketsiyo", sans-serif;
  font-family: "Syne", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 100%;
  letter-spacing: -0.02cm;
}
.grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  
}
/* main>* */
main>.title,main>.image {
  grid-column: 1/-1;
}